* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Arial";
	border-radius: 0;
}
button {
	border: none;
	background: none;
}
body {
	min-width: 320px;
}

#app {
	width: 1169px;
	background: #ffffff;
	box-shadow: 0px 4px 4px rgba(#000000, 0.25), 0px 4px 4px rgba(#000000, 0.25);
	margin:  100px auto;
	padding: 90px;

	@media (max-width: 1170px) {
		width: 95%;
	}

	@media (max-width: 800px) {
		padding: 50px 30px;
	}

	@media (max-width: 390px) {
		padding: 50px 10px;
	}
}

.card {

	&__title {
		width: 100%;
		display: flex;
		align-items: baseline;
		padding: 0 10px;
		position: relative;

		& h1 {
			font-style: normal;
			font-weight: 700;
			font-size: 30px;

			@media (max-width: 650px) {
				font-size: 25px;
			}
		}

		@media (max-width: 1000px) {
			justify-content: space-between;
		}
	}

	&__hello {
		color: #666666;
		max-width: 800px;
	}
	&__btn {
		margin-left: 123px;
		position: relative;

		@media (max-width: 1000px) {
			margin-left: 10px;
		}
	}

	& .comment {
		position: absolute;
		top: 150%;
		right: 0;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		display: none;

		&.active {
			display: flex;
		}

		&__button {
			width: 40px;
			height: 40px;
			font-weight: 400;
			margin-top: 10px;
			font-size: 14px;
			line-height: 22px;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			background: #71C838;
			box-shadow: 0px 1px 0px #539D22;
			padding: 10px 19px;
			font-weight: 400;
			font-size: 18px;
			line-height: 20px;
			color: #FFFFFF;
			text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);

			&:hover {
				opacity: 0.6;
			}
		}
	}

	&__tooltip-input {
		//position: absolute;

		min-width: 200px;
		min-height: 31px;
		padding: 5px 12px;
		z-index: 10;
		font-weight: 400;
		font-size: 14px;
		line-height: 22px;

		border: 1px solid #999999;
		resize: none;

		&:focus {
			border: 1px solid #999999;
			outline: none;
		}


	}

	&__btn-tooltip {

		font-weight: 400;
		white-space: nowrap;
		font-size: 12px;
		line-height: 12px;
		color: #0C77BB;
		border-bottom: 1px dashed #0C77BB;
		cursor: pointer;

		&:hover {
			opacity: 0.8;
		}


	}


	&__user-name {
		color: #000000;

		position: relative;

		@media (max-width: 600px) {
			position: inherit;
		}

	}

	&__tooltip {
		min-width: 300px;
		max-width: 500px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		position: absolute;
		top: 120%;
		left: 0;
		background: #EAEAEA;
		z-index: 5;
		padding: 12px 24px;
		font-weight: 400;
		font-size: 14px;
		line-height: 22px;

		//& span {
		//	font-weight: 400;
		//	font-size: 14px;
		//	line-height: 22px;
		//}

		@media (max-width: 390px) {
			min-width: 250px;
		}
	}
	&__tooltip-before {
		position: absolute;
		width: 11px;
		height: 11px;
		background: #EAEAEA;
		transform: rotate(45deg);
		top: -4px;
		left: 10px;
		z-index: -1;

	}
	&__placeholder {
		width: 35%;
		font-weight: 400;
		font-size: 12px;
		line-height: 20px;
		color: #999999;
		margin-left: 18px;

		@media (max-width: 800px) {
			margin-left: 0;
			margin-top: 15px;
			width: 100%;
		}
	}

}
.form {
	margin-top: 58px;
	display: flex;
	flex-direction: column;

	&__item {
		display: flex;
		flex-direction: column;
		row-gap: 40px;
		width: 100%;
		padding: 31px 10px;
		border-bottom: 1px solid #E5E4E4;
	}
	&__block {
		display: flex;
		align-items: center;

		@media (max-width: 1000px) {
			flex-direction: column;
			align-items: flex-start;
		}

	}

	&__block-check {
		display: flex;
		align-items: center;

		@media (max-width: 600px) {
			flex-direction: column;
			align-items: flex-start!important;
		}
	}

	&__block-button {
		display: flex;
		align-items: center;

		@media (max-width: 800px) {
			flex-direction: column;
		}

		& .card__placeholder {
			@media (max-width: 800px) {
				text-align: center;
			}
		}
	}

	&__text {
		min-width: 21.7%;
		max-width: 500px;
		font-weight: 400;
		font-size: 21px;
		line-height: 19px;
	}
	&__input-container {
		display: flex;
		align-items: baseline;

		@media (max-width: 800px) {
			width: 100%;
			flex-direction: column;
			align-items: flex-start;
		}
	}

	&__check-input-container {
		display: flex;
		align-items: center;

		@media (max-width: 600px) {
			margin-top: 15px;
		}
	}
	&__select {
		display: flex;
		align-items: baseline;
	}

	& .input {
		min-width: 336px;
		height: 31px;
		margin-left: 13px;
		position: relative;
		display: flex;
		flex-direction: column;

		@media (max-width: 1000px) {
			margin-left: 0;
			margin-top: 20px;
		}

		@media (max-width: 800px) {
			min-width: 100% !important;
		}

		& select {
			width: 100%;
			height: 100%;
			padding: 6px 12px;
			display: flex;
			align-items: center;
			appearance: none;
			font-weight: 400;
			font-size: 16px;
			cursor: pointer;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			&:focus {
				border: 1px solid #999999;
				outline: none;
			}

			&:hover ~ .arrow > svg {
				opacity: 0.5;
			}
		}
		& input {
			width: 100%;
			height: 100%;
			padding: 6px 12px;
			display: flex;
			align-items: center;
			appearance: none;
			font-weight: 400;
			font-size: 16px;
			border: 1px solid #999999;

			&:focus {
				border: 1px solid #999999;
				outline: none;
			}
		}
		& label {
			margin-top: 5px;
			font-weight: 400;
			font-size: 12px;
			line-height: 20px;
			color: #ff0000;
			display: none;

			&__active {
				display: block;
			}
		}


	}

	&__btn {
		min-width: 100px;
		max-width: 300px;
		min-height: 40px;
		background: #71C838;
		box-shadow: 0px 1px 0px #539D22;
		padding: 10px 19px;
		font-weight: 400;
		font-size: 18px;
		line-height: 20px;
		color: #FFFFFF;
		text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
		cursor: pointer;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

		&:hover {
			opacity: 0.5;
		}

		&:disabled {
			opacity: 0.5;
			cursor: default;
		}
	}
}
.arrow {
	position: absolute;
	right: 10px;
	top: 5px;
	cursor: pointer;

}
.check-input {
	width: 12px;
	height: 12px;
	margin-left: 13px;
	margin-top: 3px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;

	@media (max-width: 600px) {
		margin-left: 0;
	}

	& #check {
		opacity: 0;

		&:checked ~ label > svg path{
			fill: #037BB8;

		}
	}

	& label {
		width: 100%;
		height: 100%;
		position: absolute;
		border: 1px solid #7e7e7e;
		top: 0;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: center;

		& > svg {
			margin: auto;
			width: 8px;
			height: 8px;
		}

		& > svg path{
			fill: #ffffff
		}
	}



}